<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>SectionId</key>
		<integer>0</integer>
		<key>SectionTitle</key>
		<string></string>
		<key>Rows</key>
		<array>
			<dict>
				<key>Key</key>
				<string></string>
				<key>CellId</key>
				<string>MoviesDetailCell</string>
				<key>FontSize</key>
				<integer>0</integer>
				<key>TextAlignment</key>
				<integer>0</integer>
				<key>Height</key>
				<integer>170</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>SectionId</key>
		<integer>0</integer>
		<key>SectionTitle</key>
		<string></string>
		<key>Rows</key>
		<array>
			<dict>
				<key>Key</key>
				<string>directors</string>
				<key>CellId</key>
				<string>Basic</string>
				<key>FontSize</key>
				<integer>17</integer>
				<key>TextAlignment</key>
				<integer>1</integer>
				<key>Height</key>
				<integer>45</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>SectionId</key>
		<integer>2</integer>
		<key>SectionTitle</key>
		<string>Story Line</string>
		<key>Rows</key>
		<array>
			<dict>
				<key>Key</key>
				<string>storyline</string>
				<key>CellId</key>
				<string>Basic</string>
				<key>FontSize</key>
				<integer>12</integer>
				<key>TextAlignment</key>
				<integer>0</integer>
				<key>Height</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>SectionId</key>
		<integer>1</integer>
		<key>SectionTitle</key>
		<string>Cast</string>
		<key>Rows</key>
		<array>
			<dict>
				<key>Key</key>
				<string></string>
				<key>CellId</key>
				<string>MoviesListCell</string>
				<key>FontSize</key>
				<integer>14</integer>
				<key>TextAlignment</key>
				<integer>2</integer>
				<key>RightTextAlignment</key>
				<integer>0</integer>
				<key>Height</key>
				<integer>54</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>SectionId</key>
		<integer>1</integer>
		<key>SectionTitle</key>
		<string>Other Details</string>
		<key>Rows</key>
		<array>
			<dict>
				<key>Key</key>
				<string>languages</string>
				<key>LeftTitle</key>
				<string>Languages</string>
				<key>CellId</key>
				<string>RightDetail</string>
				<key>FontSize</key>
				<integer>14</integer>
				<key>TextAlignment</key>
				<integer>0</integer>
				<key>RightTextAlignment</key>
				<integer>2</integer>
				<key>Height</key>
				<integer>45</integer>
			</dict>
			<dict>
				<key>Key</key>
				<string>runtime</string>
				<key>LeftTitle</key>
				<string>Run Time</string>
				<key>CellId</key>
				<string>RightDetail</string>
				<key>FontSize</key>
				<integer>14</integer>
				<key>TextAlignment</key>
				<integer>0</integer>
				<key>RightTextAlignment</key>
				<integer>2</integer>
				<key>Height</key>
				<integer>45</integer>
			</dict>
			<dict>
				<key>Key</key>
				<string>releaseDate</string>
				<key>LeftTitle</key>
				<string>Date of Release</string>
				<key>CellId</key>
				<string>RightDetail</string>
				<key>FontSize</key>
				<integer>14</integer>
				<key>TextAlignment</key>
				<integer>0</integer>
				<key>RightTextAlignment</key>
				<integer>2</integer>
				<key>Height</key>
				<integer>45</integer>
			</dict>
			<dict>
				<key>Key</key>
				<string>rating</string>
				<key>LeftTitle</key>
				<string>Ratings</string>
				<key>CellId</key>
				<string>RightDetail</string>
				<key>FontSize</key>
				<integer>14</integer>
				<key>TextAlignment</key>
				<integer>0</integer>
				<key>RightTextAlignment</key>
				<integer>2</integer>
				<key>Height</key>
				<integer>45</integer>
			</dict>
			<dict>
				<key>Key</key>
				<string>writers</string>
				<key>LeftTitle</key>
				<string>Writers</string>
				<key>CellId</key>
				<string>RightDetail</string>
				<key>FontSize</key>
				<integer>14</integer>
				<key>TextAlignment</key>
				<integer>0</integer>
				<key>RightTextAlignment</key>
				<integer>2</integer>
				<key>Height</key>
				<integer>45</integer>
			</dict>
			<dict>
				<key>Key</key>
				<string>countries</string>
				<key>LeftTitle</key>
				<string>Countries</string>
				<key>CellId</key>
				<string>RightDetail</string>
				<key>FontSize</key>
				<integer>14</integer>
				<key>TextAlignment</key>
				<integer>0</integer>
				<key>RightTextAlignment</key>
				<integer>2</integer>
				<key>Height</key>
				<integer>45</integer>
			</dict>
			<dict>
				<key>Key</key>
				<string>filmingLocations</string>
				<key>LeftTitle</key>
				<string>Filming Locations</string>
				<key>CellId</key>
				<string>RightDetail</string>
				<key>FontSize</key>
				<integer>14</integer>
				<key>TextAlignment</key>
				<integer>0</integer>
				<key>RightTextAlignment</key>
				<integer>2</integer>
				<key>Height</key>
				<integer>45</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
